a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#008080; } 
a:hover { color:#004040; } 
#menu_22e6e836 a { text-decoration: none; }
#menu_22e6e836_pane { background-color: #2C2825; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_22e6e836_hr { background-color: #646464; height: 1px; border: none; }
#menu_22e6e836_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_22e6e836_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_22e6e836_entry:hover span { color:#FFFFFF !important; }
		.menu_22e6e836_mainMenuEntry { text-align: center; }
		.menu_22e6e836_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_22e6e836_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_22e6e836 .mobileEntry { display: none; } 
		#menu_22e6e836 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_22e6e836 .mobileEntry { display: block; } 
			#menu_22e6e836 .normalEntry { display: none; } 
		}
#button_50a19158 { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; width:150px; height:40px; background-color:#2B4444;  }
#button_50a19158:hover { background-color:#FEE556;  }
#button_50a19158:hover span { color:#444444; }
#button_2a16c2af { vertical-align: bottom; border-radius: 2px; position:relative; display: inline-block; width:150px; height:40px; background-color:#2B4444;  }
#button_2a16c2af:hover { background-color:#FEE556;  }
#button_2a16c2af:hover span { color:#444444; }
body { background-color:#2B4444; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#img_71ada7fd { vertical-align: bottom; position:relative; display: inline-block; width:42%; background:none; height:auto;  }
.textstyle2 { text-align:center; }
#container_7bb91f7 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:14px; background-color:#2C2825;  }
#container_7bb91f7_padding { margin: 10px; display: block;  }
#menu_22e6e836 { vertical-align: bottom; position:relative; display: inline-block; width:878px; height:34px; max-width:800px; text-align:left; background:none;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:100px; height:34px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:24px;  }
.textstyle3 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle4 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:100px; height:34px; left:110px;  }
.menustyle3 { position:absolute; width:132px; height:34px; left:210px;  }
.menustyle4 { position:absolute; width:100px; height:34px; left:342px;  }
.menustyle5 { position:absolute; width:100px; height:34px; left:442px;  }
.menustyle6 { position:absolute; width:121px; height:34px; left:542px;  }
.menustyle7 { position:absolute; width:100px; height:34px; left:663px;  }
.textstyle5 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_44c1cbac { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; max-width:1024px; background-color:#FFFFFF;  }
#container_24bd5442 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_24bd5442_padding { margin: 10px; display: block;  }
.textstyle6 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; line-height: 1.5;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#000000;  }
.vcenterstyle1 { display: table; width: 100%; height: 100%; }
.vcenterstyle2 { display: table-cell; vertical-align: middle; }
.textstyle8 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#3ABCBC; font-weight:bold;  }
.textstyle9 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000;  }
.textstyle10 { font-size:16pt; font-family:'Palatino Linotype', 'Book Antiqua3', Palatino, serif; color:#000000; line-height: 1.5;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#container_763a1385 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:70px; max-width:1024px; background-color:#ECECEC;  }
#container_19d1c736 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; max-width:800px; background:none;  }
#container_19d1c736_padding { margin: 10px; display: block;  }
#container_15046308 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background-color:#004040;  }
#container_15046308_padding { margin: 10px; display: block;  }
.textstyle12 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#FFFF00; font-weight:bold;  }
.textstyle13 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#808080;  }
#container_ce9811c { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:202px; background-color:#004040;  }
#container_ce9811c_padding { margin: 10px; display: block;  }
.textstyle14 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#737373;  }
#container_87482a4 { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:150px; background-color:#004040;  }
#container_87482a4_padding { margin: 10px; display: block;  }
.textstyle15 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000; font-weight:bold;  }
.textstyle16 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#646464;  }
.textstyle17 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#000000; font-weight:bold; line-height: 1.5;  }
#container_5c7afecb { vertical-align: top; position:relative; display: inline-block; width:78%; min-height:190px; max-width:800px; background-color:#008080; background: linear-gradient(to bottom, #FFFFFF, #008080);  }
#container_5c7afecb_padding { margin: 10px; display: block;  }
.textstyle18 { font-size:24pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#800000; line-height: 1.5;  }
.textstyle19 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#004080; font-weight:bold; line-height: 1.5;  }
.textstyle20 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#004080; line-height: 1.5;  }
.textstyle21 { font-size:10pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
#text_5a2c13b7 { position:absolute; left:45%; top:3%; width:275px; height:72px; background:none;  }
.textstyle22 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
#text_3e65fb68 { position:absolute; left:78%; top:3%; width:213px; height:77px; background:none;  }
.textstyle23 { font-size:14pt; font-family:Arial, Helvetica, sans-serif; color:#3ABCBC;  }
@media only screen and (max-width: 600px)
{
		#container_15046308 { width:100%;  }
		#container_ce9811c { width:100%;  }
		#container_87482a4 { width:100%;  }
}
@media only screen and (max-width: 450px)
{
		#menu_22e6e836 { width:100px;  }
}
