a { color:#5D5D9E; } 
a:visited { color:#5D5D9E; } 
a:active { color:#5C615E; } 
a:hover { color:#B2B3B4; } 
#menu_630e7b5 a { text-decoration: none; }
#menu_630e7b5_pane { background-color: #000000; border: 1px solid #646464; padding-top: 10px; padding-bottom: 10px; box-shadow: 2px 2px 6px 0px rgba(8, 8, 8, 0.784314); }
#menu_630e7b5_hr { background-color: #646464; height: 1px; border: none; }
#menu_630e7b5_entry { padding-left: 10px; padding-right: 10px; padding-top: 3px; padding-bottom: 3px; }
#menu_630e7b5_entry:hover { background-color: #323232; color: #FFFFFF !important; }
#menu_630e7b5_entry:hover span { color:#FFFFFF !important; }
		.menu_630e7b5_mainMenuEntry { text-align: center; }
		.menu_630e7b5_mainMenuEntry:hover {	background-color:#FFFFFF; }
		.menu_630e7b5_mainMenuEntry:hover span {	color:#000000 !important; }
		#menu_630e7b5 .mobileEntry { display: none; } 
		#menu_630e7b5 .normalEntry { display: block; } 
		@media only screen and (max-width:450px) { 
			#menu_630e7b5 .mobileEntry { display: block; } 
			#menu_630e7b5 .normalEntry { display: none; } 
		}
#gallery_190c23ae div.galleryimgcontainer { box-sizing: border-box; vertical-align: middle; display: inline-block; width: 33%; height: auto; padding: 10px;  } 
#gallery_190c23ae div.galleryimgcontainer img {  width: 100%;  height: auto;  } 
@media only screen and (max-width:520px) { #gallery_190c23ae div.galleryimgcontainer { width: 50%; } } 
@media only screen and (max-width:420px) { #gallery_190c23ae div.galleryimgcontainer { width: 100%; } } 
body { background-color:#182929; padding:0;  margin: 0; }
.textstyle1 { text-align:left; }
#container_5017d9a9 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:123px; background:none;  }
#container_5017d9a9_padding { margin: 10px; display: block;  }
#container_f7280da { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:109px; background:none;  }
#container_f7280da_padding { margin: 10px; display: block;  }
#img_7a72f872 { vertical-align: bottom; position:relative; display: inline-block; width:102%; background:none; height:auto;  }
#container_2b7f0f3f { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:110px; background:none;  }
#container_2b7f0f3f_padding { margin: 10px; display: block;  }
#container_516b8a1b { vertical-align: top; position:relative; display: inline-block; width:33%; min-height:109px; background:none;  }
#container_516b8a1b_padding { margin: 10px; display: block;  }
#slide_12539ea0 { overflow:hidden; vertical-align: bottom; border-radius: 15px; position:relative; display: inline-block; width:99%; aspect-ratio: 4.375000; background:none;  }
#text_794f1c25 { position:absolute; left:34%; top:5%; width:295px; height:76px; background:none;  }
.textstyle2 { font-size:24pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  }
.textstyle3 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#000000;  }
.textstyle4 { text-align:center; }
#menu_630e7b5 { vertical-align: bottom; position:relative; display: inline-block; width:907px; height:40px; max-width:800px; text-align:left; background-color:#000000;  }
.menuholder1 { position: relative; overflow: hidden; width: 100%; height: 100%; }
.menustyle1 { position:absolute; width:100px; height:40px; left:10px;  }
.menuentry_text1 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:24px;  }
.textstyle5 { font-size:13pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menuentry_text2 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:25px;  }
.textstyle6 { font-size:14pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle2 { position:absolute; width:100px; height:40px; left:110px;  }
.menuentry_text3 { position:absolute; top:0px; bottom:0px; left:0px; right:0px; margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto; height:22px;  }
.textstyle7 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#FFFFFF; font-weight:bold;  white-space: nowrap; }
.menustyle3 { position:absolute; width:132px; height:40px; left:210px;  }
.menustyle4 { position:absolute; width:100px; height:40px; left:342px;  }
.menustyle5 { position:absolute; width:100px; height:40px; left:442px;  }
.menustyle6 { position:absolute; width:100px; height:40px; left:542px;  }
.menustyle7 { position:absolute; width:100px; height:40px; left:642px;  }
.textstyle8 { font-size:15pt; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF;  white-space: nowrap; }
#container_4f522284 { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:592px; background:none;  }
#container_4f522284_padding { margin: 10px; display: block;  }
#container_4bf62c50 { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_4bf62c50_padding { margin: 10px; display: block;  }
#carousel_5c3cbd73 { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:100%; height:463px; background:none;  }
#carousel_5c3cbd73_page1 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
.textstyle9 { font-size:12pt; font-family:'Arial Black', Gadget, sans-serif; color:#E9D7EE; font-weight:bold;  }
.textstyle10 { font-size:14pt; font-family:'Arial Black', Gadget, sans-serif; color:#D5FCFC; font-weight:bold;  }
#carousel_5c3cbd73_page2 { position:absolute; left:0px; top:0px; width:100%; height:100%; background:none;  }
.textstyle11 { font-size:12pt; font-family:Arial, Helvetica, sans-serif; color:#D5FCFC; font-weight:bold;  }
.textstyle12 { font-size:14pt; font-family:'Comic Sans MS', 'Chalkboard SE', 'Comic Neue', sans-serif; color:#D5FCFC; font-weight:bold;  }
#container_6b7d0c8c { vertical-align: top; position:relative; display: inline-block; width:50%; min-height:150px; background:none;  }
#container_6b7d0c8c_padding { margin: 10px; display: block;  }
.textstyle13 { font-size:18pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#3ABCBC; font-weight:bold; line-height: 1.5;  }
.textstyle14 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#D5FCFC; line-height: 1.5;  }
.ulstyle1 { margin:0; font-size: 12pt; color:#D5FCFC;  }
.textstyle15 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#D5FCFC; font-style:italic; font-weight:bold; line-height: 1.5;  }
#container_4b3bc06b { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:150px; background:none;  }
#container_4b3bc06b_padding { margin: 10px; display: block;  }
#gallery_190c23ae { overflow:hidden; vertical-align: bottom; position:relative; display: inline-block; width:100%;  }
#container_4d5fc2df { vertical-align: top; position:relative; display: inline-block; width:100%; min-height:84px; background:none;  }
#container_4d5fc2df_padding { margin: 10px; display: block;  }
#container_59e8d2f9 { box-sizing: border-box; vertical-align: bottom; position:relative; display: inline-block; width:88%; min-height:68px; max-width:1200px; background:none; border: 2px solid #404040;  }
#container_59e8d2f9_padding { margin: 10px; display: block;  }
.textstyle16 { font-size:14pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#3ABCBC; font-weight:bold; line-height: 1.5;  }
.textstyle17 { font-size:14pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#D5FCFC; line-height: 1.5;  }
.textstyle18 { font-size:12pt; font-family:Segoe, 'Segoe UI', 'Helvetica Neue', sans-serif; color:#D5FCFC; font-weight:bold; line-height: 1.5;  }
@media only screen and (max-width: 600px)
{
		#container_f7280da { width:100%;  }
		#container_2b7f0f3f { width:100%;  }
		#container_516b8a1b { width:100%;  }
}
@media only screen and (max-width: 450px)
{
		#menu_630e7b5 { width:100px;  }
}
@media only screen and (max-width: 400px)
{
		#container_4bf62c50 { width:100%;  }
		#container_6b7d0c8c { width:100%;  }
}
